In [1]:
pip install mysql-connector-python

Collecting mysql-connector-python
  Obtaining dependency information for mysql-connector-python from https://files.pythonhosted.org/packages/26/20/5a3bba5751e6fd5da6d2dd759e398f23ed43525fbb4729eda06df929498e/mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata
  Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl.metadata (1.9 kB)
Downloading mysql_connector_python-8.3.0-cp311-cp311-macosx_13_0_arm64.whl (15.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 15.3/15.3 MB 2.5 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import mysql.connector

In [3]:
df = pd.read_csv('datos_junio_2022.csv')
df.head()

,Date,Text,Latitude,Longitude,Sentiment,Language
0,2022-06-20 00:00:00-05:00,Pues resulta que mi hermano se rajo a entrenar...,32.332876,-116.929102,negativo,Español
1,2022-06-20 00:00:01-05:00,81.9F (Feels: 87.0F) - Humidity: 74% - Wind: 3...,29.875016,-92.218675,neutro,Inglés
2,2022-06-20 00:00:01-05:00,"Casi termina el día, pero continúa toda la vid...",19.652724,-101.275770,indeterminado,Italiano
3,2022-06-20 00:00:02-05:00,@_HANNO Muchas gracias,25.641718,-100.293592,positivo,Español
4,2022-06-20 00:00:03-05:00,"Mmmmm tasty Pride MCC Ranboo, Eef and Sean tea...",30.086299,-97.844068,neutro,Inglés

In [4]:
df2 = df.sample(2000)
df2.head()

,Date,Text,Latitude,Longitude,Sentiment,Language
154203,2022-06-21 10:21:40-05:00,@prim_amalia Lo secuestran,15.772467,-90.224221,neutro,Español
541478,2022-06-24 06:39:57-05:00,@kaesmiff06 Happy Birthday,29.417501,-98.540651,positivo,Inglés
362249,2022-06-22 20:25:43-05:00,Accident on the connector ramp cleared. in #Da...,32.923700,-96.756210,negativo,Inglés
980296,2022-06-27 15:15:53-05:00,@caitfemme THANK YOU SO MUCH MY GORGEOUS FRIEN...,31.793368,-106.417430,positivo,Inglés
930519,2022-06-27 07:07:28-05:00,Hace 4 años jamás hubiera pensado estar dónde ...,19.518656,-99.115891,negativo,Español

In [5]:
cnx = mysql.connector.connect(user='root', password='',host='localhost',database='pcdg')

cursor = cnx.cursor()

for index, row in df2.iterrows():
    texto = row['Text']
    texto = texto.replace("'","")
    clase = row['Sentiment']
    latitud = row['Latitude']
    longitud = row['Longitude']
    add_texto = ("INSERT INTO textos (texto, clase, latitud, longitud)VALUES('"+texto+"','"+clase+"',"+str(latitud)+","+str(longitud)+")")
    cursor.execute(add_texto)

emp_no = cursor.lastrowid


# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()